@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* h1 = 42px */
/* h2 = 24px */
/* h3 = 21px */
/* h4 = 18px */
/* h5 = 16px */
/* h6 = 14px */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  font-size: 2.625rem;
  font-family: "Noto Sans";
}
h2{
  font-family: "Noto Sans";
  font-size: 1.5rem;
  margin-bottom: 2.188rem;
}

h3{
  padding-top: 1.25rem;
  font-family: "Noto Sans";
  color: #777777;
  font-size: 1.313rem;
  font-weight: 400;
}
h4{
  text-align: left;
  font-size: 1.125rem;
  font-family: "Noto Sans";
  font-weight: 600;
  margin-top: 0.938rem;
}
h5{
  font-size: 1rem;
  font-family: "Noto Sans";
  font-weight: 400;
}
h6{
  font-size: 0.875rem;
  font-family: "Noto Sans";
  font-weight: 400;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-left: 30px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
input{
  padding: 0.969rem 1rem;
  font-size: 0.875rem;
  font-style: "Noto Sans";
  margin: 3.125rem 0;
  width: 31.25rem;
  border: none;
  background-color: #F0F0F0;
  outline: none;
  border-radius: 0.625rem;
}

button{
  padding: 0.875rem 3.125rem;
  border-radius: 1.875rem;
  background-color: #E72F27;
  color: #FFFFFF;
  border: none;
  margin: 0 0.938rem;
  cursor: pointer;
}
.forgot-page, .loginPage, .signupPage, .changePass, .AcSettings-page, .homePage, .project-top-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.forgot-box, .login-box, .signup-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14.375rem;
}
.logoImg, .forgot-box, .login-box, .signup-box {
  width: 50%;
}
.logoImg{
  background: #F0F0F0;
  padding: 7.5rem;
  box-sizing: border-box;
}

.logo-bottom{
  margin-top: 11.875rem;
  margin-right: 7.5rem;
  box-sizing: border-box;
  /* width: 100%; */
}

.varify-Email, .create-pass, .reset-popup, .deleteProject, .logOutPopup{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  padding: 13.875rem 35.625rem;
}

.verifyEmail-box, .create-pass-box, .reset-popup-box, .deleteProject-box, .logOutPopup-box, .changePass-inner, .AcSettings-inner{
  text-align: center;
  padding: 7.5rem 6.25rem;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 0.625rem;
}

.resendBtn, .noBtn{
  background-color: #FDE9E9;
  color: #E72F27;
}

.varify-Email input{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 4.688rem;
  height: 4.688rem;
  margin: 3.125rem 0.625rem;
  box-sizing: border-box;
}

.create-pass-box input, .login-box input, .signup-box input{
  margin: 0.938rem 0;
}
.create-pass-box h3, .login-box h3, .signup-box h3{
  padding-bottom: 2.188rem;
}
.create-pass-box button, .login-box button , .signup-box button, .newProject-box button, .projectInnerBox button, .changePass-inner button, .AcSettings-inner button{
  margin-top:  2.188rem;
}


.reset-popup-box{
  padding-left: 5.938rem;
  padding-right: 5.938rem;
}

.reset-popup-box button, .deleteProject-box button, .logOutPopup-box button{
  margin-top: 3.125rem;
}
span{
  color: #E72F27;
}

.forgotLink, .input-container a{
  color: #E72F27;
  font-family: "Noto Sans";
  text-decoration: underline;
  font-style: italic;
  font-size: 0.938rem;
}
.deleteProject, .logOutPopup, .filterBy-Main{
  background-color: rgba(0,0,0,.7);
}
.otpContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.newProject-Page, .projectDetails-page,.aboutNewProject {
  padding: 11.625rem 23.125rem;
  background-color: #F0F0F0;
}
.newProject-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 24.5rem;
  background-color: #FFFFFF;
}

.newProject-box input , .changePass-inner input, .AcSettings-inner input{
  width: 23.75rem;
  font-size: 1rem;
  padding-left: 2.5rem;
  margin-top: 0.625rem;
  margin-bottom: 0.938rem;
}
.buttons{
  text-align: center;
}

.inputDiv{
  position: relative;
}
.fixValue{
  position: absolute;
  top: 1.425rem;
  left: 0.5rem;
}

.projectDetails-page, .aboutNewProject{
  padding: 8.063rem 23.125rem;
}
.projectInnerBox{
  padding: 3.125rem 2.5rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.625rem;
}
.projectFlexBox, .filterBy-Main, .small-box, .entries{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.styled-select select, input[type=button]{
  /* Hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom arrow */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23292D35'%3E%3Cpath d='M5.6 7.6l4 4 4-4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.25rem top 50%; 
  padding: 0.875rem 1rem;
  font-size: 1rem;
}

.projectInnerBox select, .projectInnerBox input, .projectInnerBox textarea{
  margin-top: 0.625rem;
  margin-bottom: 0.938rem;
  background-color: #F0F0F0;
  border: none;
  width: 21.625rem;
  border-radius: 0.625rem;
  outline: none;
  padding: 0.875rem 1rem;
  font-size: 1rem;
}

textarea{
  padding: 0.875rem 1rem;
  height: 9.5rem;
}

.card{
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.dropDownBox{
  position: relative;
  display: inline-block;
}
.dropDown-containt{
  display: none;
  background-color: #F0F0F0;
  position: absolute;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropDown-containt h5 {
  padding: 1rem;
}
.dropDownBox:hover .dropDown-containt{
  display: block;
  cursor: pointer;
}

.leftSide-menu{
  background-color: #FFFFFF;
  width: 19.275%;
  height: 67.5rem;
  position: relative;
}
.leftSide-menu img{
  width: 100%;
  padding: 5rem 3.125rem;
}
.leftSide-menu a{
  text-decoration: none;
  color: #000000;
}

.leftSide-menu h5{
  padding: 1.875rem 3.125rem;
}
.leftSide-menu h5:hover{
  background-color: #FDE9E9;
  color: #E82C25;
}

.menu-logOut{
  position: absolute;
  font-weight: bold;
  bottom: 0;
  left: 1;
  width: 100%;
}
.changePass-box, .AcSettings-box{
  width: 80.725%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changePass-inner input ,.AcSettings-inner input{
  width: 36.25rem;
  padding: 0.969rem 1rem;
}
.changePass-box, .AcSettings-box{
  background-color: #F0F0F0;
  height: 67.5rem;
}


.input-container a{
  position: absolute;
  right: 20px;
  top: 20px;
}
.filterBy-menu{
  float: right;
  padding: 3.125rem;
  width: 33.9%;
  height: 67.5rem;
  background-color: #FFFFFF;
  position: relative;
}
.blank{
  width: 66.1%;
  height: 67.5rem;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Noto Sans";
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkMark {
  position: absolute;
  top: -10px;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid #AAAAAA;
  border-radius: 0.375rem;
  background-color: #fff; 
}

.label-container:hover input ~ .checkMark {
  background-color: #ccc;
}

.label-container input:checked ~ .checkMark {
  background-color: #e72f27;
  border: 1px solid #e72f27;
}

.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark icon */
.label-container .checkMark:after {
  left: 5.3px;
  top: 0;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.selectBox button{
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23292D35'%3E%3Cpath d='M5.6 7.6l4 4 4-4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%; 
  width: 100%;
  text-align: start;
  font-size: 1.125rem;
  font-weight: 550;
  border-radius: 0;
  outline: none;
  padding-left: 0;
  margin: auto;
  color: #000000;
}

#checkBoxes-1, #checkBoxes-2, #checkBoxes-3, #checkBoxes-4, #checkBoxes-5, #checkBoxes-6{
  display: none;
}
.filterMenu-inner{
  height: 49.563rem;
  overflow: auto;
}
.filterMenu-inner::-webkit-scrollbar{
  width: 0.313rem;
  border-radius: 0.375rem;
}
.filterMenu-inner::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #E0E0E0;
}
.filterMenu-inner::-webkit-scrollbar-thumb{
  background-color: #000000;
}
.home-box, .projectInfo-box{
  width: 80.725%;
  background-color: #F0F0F0;
  padding: 5rem 6.25rem;
  /* height: 75.625rem; */
  position: relative;
}
.small-box{
  width: 100%;
  padding: 1.875rem 0;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
}

.smallBox-child{
  padding: 0 1.875rem;
  width: 100%;
  height: auto;
}
.smallBox-child h5{
  margin-top: 0.313rem;
}
.small-box h1{
  margin-top: 1.25rem;
}

.crud-btn-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1rem 1.875rem;
  border-radius: 0.625rem 0.625rem 0 0;
}
.input-icon{
  position: relative;
}
.input-icon .search{
  position: absolute;
  right: 0;
  top: 0.3rem;
  color: #F0F0F0;
}
.input-icon input{
  margin: 0;
  width: 20.063rem;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 0;
  background-color: transparent;
  padding: 0 0.625rem 0.5rem 0.625rem;
  color: #F0F0F0;
}
.input-icon input::placeholder{
  color: #F0F0F0;
}
.crud-btns button{
  background-color: transparent;
  padding: 0 1.25rem;
  margin: 0;
  font-size: 1rem;
}
.delBtn{
  border-radius: 0;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
}
.large-box, .entries-next{
  margin-top: 3.125rem;
}

th{
  padding: 1.25rem 0;
  background-color: #FFFFFF;
  font-weight: 400;
  font-family: "Noto sans";
}

table{
  width: 100%;
  color: #777777;
  text-align: center;
  background-color: #FFFFFF;
  font-family: "Noto sans";
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0 0 0.625rem 0.625rem;
}
td{
  padding: 1.6rem 1.25rem;
}

.table-head tr:nth-child(odd){
  background-color: #F5F5F5;
}
table select{
  border: none;
  padding: 0;
  font-size: 1rem;
  background-color: transparent;
  color: #777777;
  font-family: "Noto sans";
  outline: none;
}
.entries .selectBox button{
  width: 7.5rem;
  padding: 0.563rem 1.25rem;
  margin-right: 0.938rem;
  font-size: 1rem;
  font-family: "Noto sans";
  border-radius: 0.625rem;
}
.entries-next{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.next-prev button{
  padding: 0.875rem;
  border-radius: 0.313rem;
}
.projectInfo-box h4{
  margin-top: 0;
}
.activeBtn{
  background-color: transparent;
  color: #272932;
  padding: 0.625rem 1rem;
  margin: 0 0.313rem;
}
.next-prev button:hover{
  background-color: #FFFFFF;
  color: #E72F27;
}
.next-prev button.active{
  color: #E72F27;
  background-color: #FFFFFF;
}
.upArrow-icon{
  position: fixed;
  font-size: 3rem;
  right: 1.25rem;
  bottom: 9.375rem;
}

.projectBox-inner{
  width: 24.925%;
  padding: 0.938rem;
}
.projectInfo-child1{
  width: 75.9%;
  background-color: #FFFFFF;
  padding: 1.875rem 1.75rem;
  border-radius: 0.625rem;
}
.projectInfo-box, .project-Bcont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.project-Bcont .project-card{
  width: 33.33%;
  padding: 0.938rem;
}
.projectInfo-child2{
  width: 18.8rem;
}
.project-top-cont{
  margin-top: 0.938rem;
}
.project-top-cont, .project-bottom-cont{
  border: 1px solid #CCCCCC;
  border-radius: 0.625rem;
  padding: 0.938rem;
}
.project-top-cont h4, .project-card h4, .projectInfo-box h2{
  padding-bottom: 0.938rem;
  margin: 0;
}
.client-details, .prices{
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0.625rem;
  padding: 1.875rem;
  padding-bottom: 2.813rem;
}
.prices, .project-bottom-cont{
  margin-top: 1.25rem;
  padding-bottom: 4.375rem;
}
.prices{
  padding-bottom: 11rem;
}
.projectInfo-child2 h5, .Bottom-card{
  padding: 0.938rem 0;
}
.Bottom-card h4{
  padding-top: 35px;
} 
.project-information{
  display: flex;
  justify-content: center;
}

.project-card h5{
  padding: 0.313rem 0;
}
.Bottom-card h5{
  padding: 0;
}



@media screen and (max-width: 1516px) {

  .varify-Email, .create-pass, .reset-popup, .deleteProject, .logOutPopup{
    padding: 8rem 25rem;
  }

  .logo{
    width: 12.5rem;
  }
  .logo-bottom{
    width: 100%;
  }
  .newProject-Page{
    padding: 10.625rem 14.125rem;
  }
  .newProject-box{
    padding: 3.125rem 13.5rem;
  }
}

@media screen and (max-width: 1230px){

  /* .logo{
    width: 12.5rem;
  } */
  
  .logoImg{
    padding: 10rem;
  }
  
  .newProject-Page{
    padding: 8.625rem 9.125rem;
  }
  .newProject-box{
    padding: 3.125rem 13.5rem;
  }
}


@media screen and (max-width: 1048px){
  .logoImg, .forgot-box, .login-box, .signup-box{
    width: 100%;
  }
  .logoImg{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .varify-Email, .create-pass, .reset-popup, .deleteProject, .logOutPopup {
    padding: 5rem 15rem;
}
.verifyEmail-box, .create-pass-box, .reset-popup-box, .deleteProject-box, .logOutPopup-box{
  padding: 4rem 4rem;
}

  .logo-bottom{
    margin-top: 7rem;
  }
  .forgot-box, .login-box, .signup-box {
    padding: 3rem;
  }

}


@media screen and (max-width: 700px){

  .varify-Email, .create-pass, .reset-popup, .deleteProject, .logOutPopup {
    padding: 0;
}
.verifyEmail-box, .create-pass-box, .reset-popup-box, .deleteProject-box, .logOutPopup-box{
  padding: 3.5rem 2rem;
}

  .logo-bottom{
    margin-right: 0;
  }
  .logoImg{
    padding: 3rem;
  }
  input{
    width: 100%;
  }
  .forgot-box, .login-box, .signup-box {
    padding: 3.5rem;
  }
  .newProject-Page{
    padding: 5.625rem 3.125rem;
  } 
}

@media screen and (max-width: 500px){

  h1{
    font-size: 2rem;
  }
  h3{
    font-size: 1rem;
  }
  input{
    margin: 1.12rem 0;
    padding: 0.7rem 1rem;

  }
  .logoImg{
    padding: 1.5rem ;
  }
  .logo{
    width: 10rem;
  }
  .logo-bottom{
    margin-top: 6.875rem;
  }
  .newProject-Page{
    padding: 0;
  }
}