@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  font-size: 2.625rem;
  font-family: "Noto Sans";
}
h2{
  padding-top: 1.25rem;
  font-family: "Noto Sans";
  color: #777777;
  font-size: 1.313rem;
  font-weight: 400;
}

input{
  padding: 0.969rem 1rem;
  font-size: 0.875rem;
  font-style: "Noto Sans";
  margin: 3.125rem 0;
  width: 31.25rem;
  border: none;
  background-color: #F0F0F0;
  outline: none;
  border-radius: 0.625rem;
}

button{
  padding: 0.875rem 3.125rem;
  border-radius: 1.875rem;
  background-color: #E72F27;
  color: #FFFFFF;
  border: none;
  margin: 0 0.938rem;
}
.forgot-page, .loginPage, .signupPage{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot-box, .login-box, .signup-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14.375rem;
}
.logo-img, .forgot-box {
  width: 50%;
}
.logoImg{
  background: #F0F0F0;
  padding: 7.5rem;
  box-sizing: border-box;
}

.logo-bottom{
  margin-top: 11.875rem;
  margin-right: 7.5rem;
}

.varify-Email, .create-pass, .reset-popup, .deleteProject{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  padding: 15.938rem 33.75rem;
}
.verifyEmail-box, .create-pass-box, .reset-popup-box, .deleteProject-box{
  text-align: center;
  padding: 7.5rem 6.25rem;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 0.625rem;
  /* width: 100%; */
}

.resendBtn, .noBtn{
  background-color: #FDE9E9;
  color: #E72F27;
}

.varify-Email input{
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  width: 4.688rem;
  height: 4.688rem;
  margin: 3.125rem 0.625rem;
  box-sizing: border-box;
}

.create-pass-box input, .login-box input, .signup-box input{
  margin: 0.938rem 0;
}
.create-pass-box h2, .login-box h2, .signup-box h2{
  padding-bottom: 2.188rem;
}
.create-pass-box button, .login-box button , .signup-box button{
  margin-top:  2.188rem;
}

.reset-popup-box{
  padding-left: 5.938rem;
  padding-right: 5.938rem;
}

.reset-popup-box button, .deleteProject-box button{
  margin-top: 3.125rem;
}
span{
  color: #E72F27;
}

.forgotLink{
  color: #E72F27;
  font-family: "Noto Sans";
  text-decoration: underline;
  font-style: italic;
  font-size: 0.938rem;
}
.deleteProject{
  background: #000000;
  opacity: 0.7;
}